<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/formStyles.css" />
</head>
<body>

<div style="text-align: center;" >

    <div>
        <form style=display:inline-block; action="/admin/sector/manage">
            <button class="button user_button">
                Administrar Sector
            </button>
        </form>
    </div>
    <br>
    <div>
        <form style=display:inline-block; action="/admin/empleado/manage">
            <button class="button user_button">
                Administrar Empleado
            </button>
        </form>
    </div>
    <br>
    <div>
        <form style=display:inline-block; action="/admin/incidencia/manage">
            <button class="button user_button">
                Administrar Incidencia
            </button>
        </form>
    </div>
</div>

</body>
</html>