<!DOCTYPE HTML>
<html lang="es">
<head>
  <title>Todarregla</title>
  <link rel="stylesheet" href="css/formStyles.css" />
</head>
<body>
<div style="text-align: center;">
  <h1> Todarregla </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
  <h2>
    Bienvenido a Todarregla, donde si no está todo en regla, se arregla.
  </h2>
  <p>Para abrir una incidencia rellene los datos del formulario:</p>
</div>

<div style="text-align: center; position: relative">
  <form id="form" modelAttribute="request">
    <p>Nombre:</p>
    <input type="text"  name="nombre" required/>
    <p>Correo:</p>
    <input type="email"  name="correo" required/>
    <p>Telefono:</p>
    <input type="tel"  name="telefono" required/>
    <p>Direccion:</p>
    <input type="text"  name="calle" required/>
    <p>Sector:</p>
    <select name="idSector" id="idSector">
      {{#sector}}
      <option value="{{idSector}}">{{nombre}}</option>
      {{/sector}}
    </select>
    <p>Descripcion del problema:</p>
    <textarea rows="4" cols="50" name="descripcion"></textarea>
    <button style="margin-top: 2em;" type='submit'>Abrir incidencia</button>

    <div id="popup" class="popup">Incidencia registrada en el sistema</div>
  </form>
</div>



<script>
  const form = document.getElementById('form');
  const popup = document.getElementById('popup');

  form.addEventListener('submit', async  function(e) {
    e.preventDefault();

    const data = new FormData(form);
    const response = await fetch('/incidencias/open', {
      method: 'POST',
      body: data
    });


    popup.classList.add('show');
    setTimeout(() => popup.classList.remove('show'), 3000);
  });
</script>

</body>
</html>